@model IEnumerable<RiverWeb.Models.Stamp>

<h3>Stamps</h3>

<table id="Stamps" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Personnel</th>
            <th>Location</th>
            <th>Time</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th align="right" colspan="3">Confidential</th>
        </tr>
    </tfoot>
    <tbody>
    @foreach (var stamp in Model)
    {
        <tr>
            <td>@stamp.Personal.Data?.Name</td>
            <td>@stamp.Location</td>
            <td>@stamp.Time</td>
        </tr>
    }
    </tbody>
</table>