@model IEnumerable<rivER_web.Models.Stamp>

<h3>Stamps</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>Personal</p>
        </div>
        <div class="col-sm-4">
            <p>Location</p>
        </div>
        <div class="col-sm-4">
            <p>Time</p>
        </div>
    </div>
    @foreach (var stamp in Model)
    {
        <div class="row">
            <div class="col-sm-4">
                @stamp.Personal.Data?.Name
            </div>
            <div class="col-sm-4">
                @stamp.Location
            </div>
            <div class="col-sm-4">
                @stamp.Time
            </div>
        </div>
    }
</div>
